.layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.headerWrapper {
  flex-shrink: 0;
}

.content {
  flex: 1;
  overflow: hidden;
}

.footerWrapper {
  flex-shrink: 0;
  padding: 8px;
  background: var(--node-editor-control-background);
  font-size: 12px;
  box-sizing: border-box;
}
